@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.welcome-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/grid.png");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

/* .anahowa {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 91.86%);
  opacity: 0.07;
  mix-blend-mode: hard-light;
  filter: blur(40px);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  backdrop-filter: blur(5px);
} */

h1 {
  leading-trim: both;
  text-edge: cap;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 104.715%; /* 50.263px */
  text-transform: uppercase;
}

@media (max-width: 769px) {
  h1 {
    font-size: 28px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 22px;
    text-align: center;
  }
}

/* span {
  opacity: 0.4;
  background: linear-gradient(
    91deg,
    #fff 65.04%,
    rgba(153, 153, 153, 0) 97.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.tracking-card {
  border-radius: 12px;
  border: 0.5px solid rgba(255, 255, 255, 0);
  background: rgba(217, 217, 217, 0.301);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(90px);
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.04);
}

p {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "__Poppins_45ea9b", "__Poppins_Fallback_45ea9b";
}

strong {
  font-weight: 400;
}

.main-loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #8200ff;
  position: relative;
}
.main-loader:before,
.main-loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #000;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.main-loader:after {
  animation-delay: 0.5s;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px);
  }
}

.dashed-bar ul li {
  font-family: "__Poppins_45ea9b", "__Poppins_Fallback_45ea9b";
}

.project-details-card {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.27);
  background: #fbfbfb;
  box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.25);
}
.project-details-card span,
.step-info-card span,
.collapse-title {
  font-family: "__Poppins_45ea9b", "__Poppins_Fallback_45ea9b";
}

.project-details-card .inspiration-btn {
  border-radius: 10px;
  background: #e1dada;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.06);
}
.step-info-card {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.27);
  background: #f1f1f1;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.04);
}

.model-popup {
  border-radius: 10px;
  border: 0.5px solid #fff;

  background: #fbfbfb;
}

footer * {
  font-family: "__ClashDisplay_f44f1f", "__ClashDisplay_Fallback_f44f1f";
}

.project-hero-section {
  /* background-image: url(https://cdn.pixabay.com/photo/2019/01/02/10/20/iceland-3908498_1280.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.project-hero-section .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: ; */
  background-image: linear-gradient(
    to top,
    #000000f7,
    #00000077,
    rgba(0, 0, 0, 0.5)
  );
  z-index: -1;
  display: block;
}

.blured-ship {
  width: 300px;
  height: 300px;
  background-color: #8200ff;
  filter: blur(160px);
  position: absolute;
  z-index: -1;
}
.project-details-card li,
ul.ul-nav-bar li a,
.poppins {
  font-family: "__Poppins_45ea9b", "__Poppins_Fallback_45ea9b";
}

.my-toaster * {
  font-family: "__Poppins_45ea9b", "__Poppins_Fallback_45ea9b";
  text-align: center;
  /* font-size: 14; */
}

.input {
  border-radius: 10px;
  background: #dbcbcb;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.06);
  font-family: "__Poppins_45ea9b", "__Poppins_Fallback_45ea9b";
}

.bg-greenCheck {
  --tw-bg-opacity: 1;
  background-color: rgb(135 179 45 / var(--tw-bg-opacity)) !important;
}

.glow-scroll {
  border-radius: 20px;
  background-color: #c1bbbb;
  animation: pulseGlow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulseGlow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.loader1 {
  width: calc(100px - 24px);
  height: 50px;
  position: absolute;
  animation: flippx1 2s infinite linear;
}
.loader1:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transform-origin: -24px 50%;
  animation: spin1 1s infinite linear;
}
.loader1:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@keyframes flippx1 {
  0%,
  49% {
    transform: scaleX(1);
  }
  50%,
  100% {
    transform: scaleX(-1);
  }
}
@keyframes spin1 {
  100% {
    transform: rotate(360deg);
  }
}

.loader2 {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}
.loader2::after {
  content: "";
  box-sizing: border-box;
  width: 0;
  height: 4.8px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  animation: animFw 10s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.loader-11 {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader-11::after,
.loader-11::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader-11::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* 
#strategy {
  cursor: url("/cursor1.png"), auto;
} */

@media (min-width: 1280px) {
  .container {
    max-width: 1060px;
  }
}
